body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_1280.jpg");
    background-color: grey;
    /* #37c6574d; */
    /* rgba(53, 194, 83, 0.13); */
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 50%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.sec {
    margin-top: 10%;
    color: #fff;
    text-align: center;
}

.ih1 {
    font-weight: 800;
    font-size: 3rem;
}

.btni {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

hr {
    border-top: 8px solid #fff;
    width: 8rem;
}

.admin {
    height: 80vh;
}

.sidebar {
    background-color: #007bff;
}

.navbar-brand {
    color: rgb(254, 75, 40) !important;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
}

.nav-link {
    color: #fff !important;
    font-weight: 600;
    font-size: 1.2rem;
}

#quizzie {
    padding: 5% 0;
}

.ul {
    list-style: none;
    display: block;
    width: auto;
    margin: 2% 2%;
    padding: 2%;
    overflow: auto;
    display: none;
}

.current {
    display: block;
}

.li {
    display: inline-block;
    float: left;
    width: 49%;
    margin-right: 2%;
    overflow: auto;
    text-align: center;
}

.quiz-answer {
    cursor: pointer;
}

.question {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 2%;
}

.results-inner {
    padding: 5% 2%;
}

.li:last-child {
    margin-right: 0;
}

.question-wrap {
    display: block;
    padding: 1%;
    margin: 1em 10%;
}

.answer-wrap {
    background: #fe7558;
    border-radius: 10px;
}

.answer-wrap:hover {
    background: #f65f3f;
    border-radius: 10px;
}

.anli {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.anul {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}