body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_1280.jpg");
    background-color: grey;
    /* #37c6574d; */
    /* rgba(53, 194, 83, 0.13); */
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 50%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.sec {
    margin-top: 10%;
    color: #fff;
    text-align: center;
}

.ih1 {
    font-weight: 800;
    font-size: 3rem;
}

.btni {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

hr {
    border-top: 8px solid #fff;
    width: 8rem;
}

.admin {
    height: 80vh;
}

.sidebar {
    background-color: #007bff;
}

.navbar-brand {
    color: rgb(254, 75, 40) !important;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
}

.nav-link {
    color: #fff !important;
    font-weight: 600;
    font-size: 1.2rem;
}

.form {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5em;
    color: #fff;
    font-size: 1.1rem;
}

.qlabel {
    margin-top: 1rem;
}

.option {
    margin: 0.5rem auto;
}

.abtnl {
    display: block;
    margin: 3rem auto;
}