{% extends "layout.html" %} {% block title %} Admin Panel {% endblock %} {%
block main %}

<h1 class="mb-3">All Users</h1>
<div class="container">
  <section class="card">
    <div class="card-body">
      <table class="display" id="table_id">
        <thead>
          <tr>
            <th scope="col" class="table-title">Key</th>
            <th scope="col" class="table-title">Name</th>
            <th scope="col" class="table-title">Status</th>
            <th scope="col" class="table-title">% San</th>
            <th scope="col" class="table-title">% Cho</th>
            <th scope="col" class="table-title">% Mel</th>
            <th scope="col" class="table-title">% Phl</th>
            <th scope="col" class="table-title">Verdict</th>
          </tr>
        </thead>
        <tbody>
          {% for info in data %}
          <tr>
            <th scope="row">{{ info.key }}</th>
            <td>{{ info.alias }}</td>
            <td>{{ info.status }}</td>
            <td>{{ info.san }}%</td>
            <td>{{ info.cho }}%</td>
            <td>{{ info.mel }}%</td>
            <td>{{ info.phl }}%</td>
            <td>{{ info.verdict }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"
></script>
<script>
  $(document).ready(function() {
    $("#table_id").DataTable();
  });
</script>
{% endblock %}
