{% extends "layout.html" %}

{% block main %}
<section>
  <h2 class="text-white text-center pt-5 mt-5 pb-5">Add Personality Question</h2>
  <form class="form" action="/question" method="POST">
    <div class="form-group">
      <label for="exampleInputText1" class="qlabel">Question</label>
      <input type="text" class="form-control" name="que" id="exampleInputText1" aria-describedby="textHelp"
        placeholder="Enter your question">
    </div>
    <label for="exampleInputPassword1">Enter Your Options</label>
    <div class="row option">
      <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control" name="a" placeholder="Option A">
      </div>
      <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control" name="b" placeholder="Option B">
      </div>
    </div>
    <div class="row option">
      <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control" name="c" placeholder="Option C">
      </div>
      <div class="col-md-6 col-sm-12">
        <input type="text" class="form-control" name="d" placeholder="Option D">
      </div>
    </div>
    <button type="submit" class="btn btn-outline-light abtnl" onclick="show_alert();">Submit</button>
  </form>
</section>

<script type="text/javascript">
  function show_alert() {
    alert("You have successfully submitted your questions");
  }
</script>
{% endblock %}