{% extends "layout.html" %}

{% block body %}

<main class="pt-5">
    <div id="quizzie" class="anul">
        <img src="https://derpicdn.net/img/2018/2/23/1663275/large.gif" class="qimg">
        <h1>Who is your squadtwin?</h1>
        <ul class="quiz-step ul step1 current">
            <li class="question li">
                <div class="question-wrap">
                    <h2>Question #1: Are you more...</h2>
                </div>
            </li>
            <li class="quiz-answer li low-value anli pr-2 pb-3" data-quizIndex="a">
                <div class="answer-wrap">
                    <p class="answer-text">This Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="b">
                <div class="answer-wrap">
                    <p class="answer-text">That Thing</p>
                </div>
            </li>
            <li class="quiz-answer low-value li anli pr-2 pt-3" data-quizIndex="c">
                <div class="answer-wrap">
                    <p class="answer-text">This Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pt-3" data-quizIndex="d">
                <div class="answer-wrap">
                    <p class="answer-text">That Thing</p>
                </div>
            </li>
        </ul>
        <ul class="quiz-step ul step2">
            <li class="question li">
                <div class="question-wrap">
                    <p>Question #2: Are you more...</p>
                </div>
            </li>
            <li class="quiz-answer low-value anli li pr-2 pb-3" data-quizIndex="a">
                <div class="answer-wrap">
                    <p class="answer-text">First Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="b">
                <div class="answer-wrap">
                    <p class="answer-text">Second Thing</p>
                </div>
            </li>

            <li class="quiz-answer low-value li anli pr-2 pt-3" data-quizIndex="c">
                <div class="answer-wrap">
                    <p class="answer-text">First Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pt-3" data-quizIndex="d">
                <div class="answer-wrap">
                    <p class="answer-text">Second Thing</p>
                </div>
            </li>
        </ul>
        <ul class="quiz-step ul step3">
            <li class="question li">
                <div class="question-wrap">
                    <p>Question #3: Are you more...</p>
                </div>
            </li>
            <li class="quiz-answer low-value li anli pr-2 pb-3" data-quizIndex="a">
                <div class="answer-wrap">
                    <p class="answer-text">One Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="b">
                <div class="answer-wrap">
                    <p class="answer-text">Another Thing</p>
                </div>
            </li>
            <li class="quiz-answer li low-value anli pr-2 pt-3" data-quizIndex="c">
                <div class="answer-wrap">
                    <p class="answer-text">One Thing</p>
                </div>
            </li>
            <li class="quiz-answer li high-value anli pl-2 pt-3" data-quizIndex="d">
                <div class="answer-wrap">
                    <p class="answer-text">Another Thing</p>
                </div>
            </li>
        </ul>
        <ul class="quiz-step ul step4">
            <li class="question li">
                <div class="question-wrap">
                    <p>Question #4: Are you more...</p>
                </div>
            </li>
            <li class="quiz-answer low-value anli li pr-2 pb-3" data-quizIndex="a">
                <div class="answer-wrap">
                    <p class="answer-text">One Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="b">
                <div class="answer-wrap">
                    <p class="answer-text">Another Thing</p>
                </div>
            </li>
            <li class="quiz-answer low-value li anli pr-2 pb-3" data-quizIndex="c">
                <div class="answer-wrap">
                    <p class="answer-text">One Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="d">
                <div class="answer-wrap">
                    <p class="answer-text">Another Thing</p>
                </div>
            </li>
        </ul>
        <ul id="results" class="ul">
            <li class="results-inner li">
                <p>Your Personality Key is:</p>
                <h1>Click on the button below to see your SquadTwin.</h1>
                <Button class="desc btn btn-outline-light">Click Here</Button>
            </li>
        </ul>
    </div>
</main>
{% endblock %}