{% extends "layout.html" %}

{% block body %}

<main class="pt-5">
    <div id="quizzie" class="anul">
        <img src="https://derpicdn.net/img/2018/2/23/1663275/large.gif" class="qimg">
        <h1>Who is your squadtwin?</h1>
        <ul class="quiz-step ul step1 current">
            <li class="question li">
                <div class="question-wrap">
                    <h2>Question #1: Are you more...</h2>
                </div>
            </li>
            <li class="quiz-answer li low-value anli pr-2 pb-3" data-quizIndex="a">
                <div class="answer-wrap">
                    <p class="answer-text">This Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="b">
                <div class="answer-wrap">
                    <p class="answer-text">That Thing</p>
                </div>
            </li>
            <li class="quiz-answer low-value li anli pr-2 pt-3" data-quizIndex="c">
                <div class="answer-wrap">
                    <p class="answer-text">This Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pt-3" data-quizIndex="d">
                <div class="answer-wrap">
                    <p class="answer-text">That Thing</p>
                </div>
            </li>
        </ul>
        <ul class="quiz-step ul step2">
            <li class="question li">
                <div class="question-wrap">
                    <p>Question #2: Are you more...</p>
                </div>
            </li>
            <li class="quiz-answer low-value anli li pr-2 pb-3" data-quizIndex="a">
                <div class="answer-wrap">
                    <p class="answer-text">First Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="b">
                <div class="answer-wrap">
                    <p class="answer-text">Second Thing</p>
                </div>
            </li>

            <li class="quiz-answer low-value li anli pr-2 pt-3" data-quizIndex="c">
                <div class="answer-wrap">
                    <p class="answer-text">First Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pt-3" data-quizIndex="d">
                <div class="answer-wrap">
                    <p class="answer-text">Second Thing</p>
                </div>
            </li>
        </ul>
        <ul class="quiz-step ul step3">
            <li class="question li">
                <div class="question-wrap">
                    <p>Question #3: Are you more...</p>
                </div>
            </li>
            <li class="quiz-answer low-value li anli pr-2 pb-3" data-quizIndex="a">
                <div class="answer-wrap">
                    <p class="answer-text">One Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="b">
                <div class="answer-wrap">
                    <p class="answer-text">Another Thing</p>
                </div>
            </li>
            <li class="quiz-answer li low-value anli pr-2 pt-3" data-quizIndex="c">
                <div class="answer-wrap">
                    <p class="answer-text">One Thing</p>
                </div>
            </li>
            <li class="quiz-answer li high-value anli pl-2 pt-3" data-quizIndex="d">
                <div class="answer-wrap">
                    <p class="answer-text">Another Thing</p>
                </div>
            </li>
        </ul>
        <ul class="quiz-step ul step4">
            <li class="question li">
                <div class="question-wrap">
                    <p>Question #4: Are you more...</p>
                </div>
            </li>
            <li class="quiz-answer low-value anli li pr-2 pb-3" data-quizIndex="a">
                <div class="answer-wrap">
                    <p class="answer-text">One Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="b">
                <div class="answer-wrap">
                    <p class="answer-text">Another Thing</p>
                </div>
            </li>
            <li class="quiz-answer low-value li anli pr-2 pb-3" data-quizIndex="c">
                <div class="answer-wrap">
                    <p class="answer-text">One Thing</p>
                </div>
            </li>
            <li class="quiz-answer high-value li anli pl-2 pb-3" data-quizIndex="d">
                <div class="answer-wrap">
                    <p class="answer-text">Another Thing</p>
                </div>
            </li>
        </ul>
        <ul id="results" class="ul">
            <li class="results-inner li">
                <p>Your Personality Key is:</p>
                <h1>Click on the button below to see your SquadTwin.</h1>
                <Button class="desc btn btn-outline-light">Click Here</Button>
            </li>
        </ul>
    </div>
</main>
<script type="text/javascript">
    var quizSteps = $("#quizzie .quiz-step"),
        totalScore = [];

    // for each step in the quiz, add the selected answer value to the total score
    // toggle a visual active state to show which option has been selected
    quizSteps.each(function () {
        var currentStep = $(this),
            ansOpts = currentStep.children(".quiz-answer");
        // for each option per step, add a click listener
        // apply active class and calculate the total score
        ansOpts.each(function () {
            var eachOpt = $(this);
            eachOpt[0].addEventListener("click", check, false);

            function check() {
                var $this = $(this),
                    value = $this.attr("data-quizIndex"),
                    answerScore = value;
                // check to see if an answer was previously selected
                if (currentStep.children(".active").length > 0) {
                    var wasActive = currentStep.children(".active"),
                        oldScoreValue = wasActive.attr("data-quizIndex"),
                        oldScore = oldScoreValue;
                    // handle visual active state
                    currentStep.children(".active").removeClass("active");
                    $this.addClass("active");
                    // handle the score calculation
                    totalScore.push(oldScoreValue);
                    totalScore.push(answerScore);
                    console.log(totalScore);
                    calcResults(totalScore);
                } else {
                    // handle visual active state
                    $this.addClass("active");
                    // handle score calculation
                    totalScore.push(answerScore);
                    console.log(totalScore);
                    calcResults(totalScore);
                    // handle current step
                    updateStep(currentStep);
                }
            }
        });
    });

    // show current step/hide other steps
    function updateStep(currentStep) {
        if (currentStep.hasClass("current")) {
            currentStep.removeClass("current");
            currentStep.next().addClass("current");
        }
    }

    // display personality key
    function calcResults(totalScore) {
        // only update the results div if all questions have been answered
        if (quizSteps.find(".active").length == quizSteps.length) {
            var resultsTitle = $("#results h1"),
                resultsDesc = $("#results .desc");
        }
    }
</script>
{% endblock %}